# Manuscript output
manuscript/*.docx
manuscript/*.html
manuscript/*.pdf
manuscript/*.tex
manuscript/tex_out/*
vc*
submissions/*

# Proprietary data
# V-Dem: download from https://www.v-dem.net/
data/Country_Year_V-Dem_Extended_CSV_v8/*
# Christensen and Weinstein NGO restrictions: download from 
# https://darinchristensen.com/replication/JoD_Replication.zip
data/dcjw-ngo-laws/*

# Other folders
admin
!output/*.pdf

# R stuff
.Rproj.user
.Rhistory
*_cache
*_files

# Miscellaneous
.DS_Store
.dropbox
Icon?
